.questionBox {
  padding: 20px;
  background: #1E1F24;
  width: 500px;
  border-radius: 16px;
  margin: 0 auto 16px auto;
}

.question {
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  margin: 10px;
}

.answer {
  background: #141517;
  padding: 10px;
  border-radius: 16px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 15px 1fr;
  align-items: center;
  cursor: pointer;
  gap: 8px;

  &:hover {
    background: #1e3d4a;
  }

  &>* {
    cursor: pointer;
  }

  input[type='radio'],
  input[type='checkbox'] {
    margin: 0;
    width: 15px;
    height: 15px;
  }

  input[type='radio']:after,
  input[type='checkbox']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #FFFFFF;
    content: '';
    display: block;
  }

  input[type='radio']:checked:after,
  input[type='checkbox']:checked:after {
    background-color: #307af3;
  }

  input[type='radio']:after {
    border-radius: 50%;
  }

  input[type='checkbox']:after {
    border-radius: 2px;
  }
}

.save {
  width: 300px;
  margin: auto;
  display: block;
  padding: 6px;
  background: #307af3;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  color: #FFFFFF;
}

.timer {
  margin-bottom: 10px;

  .header {
    font-size: 25px;
  }

  .time {
    font-size: 50px;
  }
}